Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Newer Deckhand engine
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

fix some errors for ill-syntax in kubernetes-network.rst
  doc/source/configuration/kubernetes-network.rst
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

dumplicate words was deleted in kubernetes-network.rst
  doc/source/configuration/kubernetes-network.rst
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

omit the twice occured words in values.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Fix incorrect templating in haproxy anchor script
  charts/haproxy/templates/bin/_anchor.tpl
  examples/basic/armada-resources.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use new default-test behavior of Armada in resiliency test
  examples/basic/armada-resources.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix bug about promenade debug
  promenade/cli.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adding a generic policy to be read from policy.yaml for downstream applications
  promenade/policy.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adds policy.yaml support for downstreams using this repository Implements: Policy.yaml support for custom policies Closes-Bug: #2004446
  promenade/policy.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[FIX] liveness probe file location fix
  charts/apiserver/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Extend webhook-enabled apiserver chart
  charts/apiserver-webhook/templates/bin/_webhook_start.sh.tpl
  charts/apiserver-webhook/templates/configmap-bin.yaml
  charts/apiserver-webhook/templates/configmap-etc.yaml
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/templates/etc/_kubeconfig.yaml.tpl
  charts/apiserver-webhook/templates/etc/_webhook.kubeconfig.tpl
  charts/apiserver-webhook/templates/ingress-api.yaml
  charts/apiserver-webhook/templates/job-ks-user.yaml
  charts/apiserver-webhook/templates/secret-apiserver.yaml
  charts/apiserver-webhook/templates/secret-ingress-tls.yaml
  charts/apiserver-webhook/templates/secret-keystone.yaml
  charts/apiserver-webhook/templates/secret-tls.yaml
  charts/apiserver-webhook/templates/service-apiserver-ingress.yaml
  charts/apiserver-webhook/templates/service-ingress-api.yaml
  charts/apiserver-webhook/templates/service.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

[US:349446] Adding capabilites for reading policy.yaml file.
  charts/promenade/templates/configmap-etc.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Support systemd unit management during node join
  examples/basic/HostSystem.yaml
  examples/basic/Kubelet.yaml
  promenade/config.py
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/up.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Change static pod template to run as root user
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update Kubernetes to 1.10.11
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix incorrect volumeMount entry for policy.yaml
  charts/promenade/templates/deployment-api.yaml
Due: airship-promenade-lint-chart

Change image pull policy from Always to IfNotPresent.
  tools/g2/sonobuoy.yaml
Due: none

(debug) debug-report.sh support ns filter
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Refactor API server
  charts/apiserver/templates/bin/_anchor.tpl
  charts/apiserver/templates/configmap-etc.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  promenade/config.py
  promenade/schemas/Genesis.yaml
  promenade/templates/include/genesis-apiserver.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/acconfig.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/eventconfig.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add airship-discuss
  setup.cfg
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix the misspelling of "required"
  promenade/schemas/Genesis.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix the misspelling of "required"
  promenade/schemas/HostSystem.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(bootstrap) Turn down tiller verbosity
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adding filename to promenade logging message format for troubleshooting purpose.
  promenade/logging.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Allow tls versions and ciphers to be configured
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Update to Kubernetes 1.11.6
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/coredns/values.yaml
  charts/etcd/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Moving documentation only requirements into doc/requirements.txt
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

UCP: Enable Audit Logging feature gate in K8s
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Implements: etcd backup
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/configmap-bin.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Cleanup Armada warnings in resiliency gate
  examples/basic/armada-resources.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Generalize .fiotest ignore
  .gitignore
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

build: support helm-toolkit pinning
  tools/helm_tk.sh
Due: none

[fix] etcd backup support for multiple releases
  charts/etcd/templates/cron-job-etcd-backup.yaml
Due: airship-promenade-lint-chart

Do not quote tls arg values
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
Due: airship-promenade-lint-chart

remove /etc/genesis post armada bootstrap
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Pin helm-toolkit to fix resiliency gate
  examples/basic/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift default HAProxy to address CVEs
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

Fix generate_certs typo
  promenade/cli.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Updating Docker Gate use of zuul.newrev
  tools/zuul/playbooks/docker-image-build.yaml
Due: none
