Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Update Helm wrapper script
  promenade/templates/roles/common/usr/local/bin/helm
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix typo in Helm wrapper script
  promenade/templates/roles/common/usr/local/bin/helm
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make xenial jobs non-voting
  .zuul.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update Python kubernetes-client version
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use curl (not socat) in apiserver anchor readiness
  charts/apiserver/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Use bitnami kubectl
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/scheduler/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Migrate CronJob resource to batch/v1 for etcd chart
  charts/etcd/Chart.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
Due: airship-promenade-lint-chart

Ensure haproxy.cfg ends with newline
  promenade/templates/roles/common/etc/promenade/haproxy/haproxy.cfg
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix haproxy.cfg template
  promenade/templates/roles/common/etc/promenade/haproxy/haproxy.cfg
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[CPID-354] Improve MariaDB Backup/Restore validation process
  .gitignore
  charts/etcd/Chart.yaml
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/cron-job-etcd-backup.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: uplift to 1.8.6
  charts/coredns/Chart.yaml
  charts/coredns/templates/rbac.yaml
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

K8S upgrade 1.24
  .zuul.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: uplift to 1.9.4
  charts/coredns/Chart.yaml
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[htk] Helm toolkit uplift
  doc/requirements.txt
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

k8s upgrade to 1.26.0
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  promenade/builder.py
  promenade/design_ref.py
  promenade/encryption_method.py
  promenade/tar_bundler.py
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
  tools/setup_gate.sh
  tox.ini
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adjusting daemonset anchor readiness check
  charts/controller_manager/Chart.yaml
  charts/controller_manager/templates/bin/_anchor.tpl
  charts/controller_manager/templates/daemonset.yaml
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  charts/controller_manager/values.yaml
  charts/scheduler/Chart.yaml
  charts/scheduler/templates/bin/_anchor.tpl
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
  charts/scheduler/templates/sched-anchor.yaml
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

Make sure kubernetes starts after containerd
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove deprecated controller-manager flag
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/kubelet.rst
  examples/basic/Genesis.yaml
  examples/basic/Kubelet.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/Kubelet.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/Kubelet.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/Kubelet.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/Kubelet.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/site-config.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[focal] Python modules sync with Airship project
  .readthedocs.yaml
  Makefile
  bindep.txt
  charts/promenade/Chart.yaml
  doc/requirements.txt
  promenade/builder.py
  promenade/cli.py
  promenade/config.py
  promenade/control/api.py
  promenade/control/base.py
  promenade/control/middleware.py
  promenade/control/validatedesign.py
  promenade/design_ref.py
  promenade/encryption_method.py
  promenade/exceptions.py
  promenade/generator.py
  promenade/kubeclient.py
  promenade/logging.py
  promenade/options.py
  promenade/pki.py
  promenade/policy.py
  promenade/renderer.py
  promenade/tar_bundler.py
  promenade/validation.py
  requirements-direct.txt
  requirements-frozen.txt
  setup.cfg
  test-requirements.txt
  tests/unit/api/test_update_labels.py
  tests/unit/api/test_validatedesign.py
  tools/image_tags.py
  tools/install-external-deps.sh
  tools/zuul/playbooks/docker-image-build.yaml
  tools/zuul/playbooks/make-tests.yaml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Sync requirements with shipyard
  Makefile
  doc/requirements.txt
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Deckhand module uplift
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[focal] Fix requests.body attribute deprecation
  promenade/control/api.py
  promenade/control/join_scripts.py
  promenade/control/node_labels.py
  promenade/exceptions.py
  promenade/utils/validation_message.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Promenade timeout adjustment
  promenade/builder.py
  promenade/design_ref.py
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

k8s upgrade to 1.27.1
  charts/apiserver-webhook/Chart.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/Chart.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/Chart.yaml
  charts/controller_manager/values.yaml
  charts/etcd/Chart.yaml
  charts/etcd/values.yaml
  charts/proxy/Chart.yaml
  charts/proxy/values.yaml
  charts/scheduler/Chart.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/Kubelet.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/Kubelet.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/Kubelet.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/Kubelet.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Revert chart version
  charts/apiserver-webhook/Chart.yaml
  charts/apiserver/Chart.yaml
  charts/controller_manager/Chart.yaml
  charts/etcd/Chart.yaml
  charts/proxy/Chart.yaml
  charts/scheduler/Chart.yaml
Due: airship-promenade-lint-chart

Restored ubuntu_bionic image build
  .gitignore
  images/promenade/Dockerfile.ubuntu_bionic
  images/promenade/Dockerfile.ubuntu_focal
  images/promenade/Dockerfile.ubuntu_xenial
  requirements-direct.txt
  requirements-frozen-bionic.txt
  setup.cfg
  test-requirements.txt
  tools/install-external-deps.sh
  tools/zuul/playbooks/docker-image-build.yaml
  tools/zuul/playbooks/install-deps.yaml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update k8s to 1.27.2
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove allow-downgrade and dist-upgrades parts from up.sh
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update k8s to 1.27.4
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Parametrise etcd-anchor readiness probe
  charts/etcd/Chart.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Published docker image tags
  zuul.d/jobs.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Helm version uplift
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Airflow stable 2.6.2
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/coredns/values.yaml
  charts/etcd/values.yaml
  charts/haproxy/values.yaml
  charts/promenade/values.yaml
  charts/scheduler/values.yaml
  doc/requirements.txt
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
  requirements-direct.txt
  requirements-frozen-bionic.txt
  requirements-frozen.txt
  test-requirements.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Deprecating the Ingress Class Annotation
  promenade/kubeclient.py
  zuul.d/jobs.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add configurable support for armada-operator
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  tests/unit/builder_data/simple/Genesis.yaml
  tools/gate/config-templates/genesis-config.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Change operator image tags to airshipit space
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/gate/Genesis.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update k8s to v1.28.4
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post
