Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Implement helm-toolkit snippet to promenade test pods/containers
  charts/promenade/templates/tests/test-promenade-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Updating HTK commit ID for etcd backup/restore
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/bin/_etcdrestore.tpl
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update HTK commit ID for etcd backup/restore framework
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add apparmor profile to promenade tpl files
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  charts/controller_manager/values.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  charts/haproxy/values.yaml
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

Updated resiliency gate
  doc/source/developer-onboarding.rst
  promenade/templates/include/up.sh
  promenade/templates/include/utils.sh
  tools/g2/lib/config.sh
  tools/g2/lib/etcd.sh
  tools/g2/lib/validate.sh
  tools/g2/manifests/resiliency.json
  tools/g2/stages/genesis.sh
  tools/g2/stages/join-nodes.sh
  tools/g2/stages/move-master.sh
  tools/g2/stages/teardown-nodes.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add security context template for promenade charts
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  charts/controller_manager/values.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  charts/haproxy/values.yaml
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

Run etcd with shareProcessNamespace: true to reap zombie processes
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/templates/tests/test-etcd-health.yaml
Due: airship-promenade-lint-chart

Add security context template for etcd-backup chart
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Add missing security context template to promenade init container
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Upgrade etcd to 3.4.3
  charts/etcd/values.yaml
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

fix - pep8 and image build gates
  .zuul.yaml
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Upgrade LibYAML version in container builds
  images/promenade/Dockerfile.ubuntu_bionic
  images/promenade/Dockerfile.ubuntu_xenial
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix bug with block_literal_representer
  promenade/pki.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Accelerate YAML operations with LibYAML
  promenade/__init__.py
  requirements-direct.txt
  requirements-frozen.txt
  tests/__init__.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Change helm-toolkit dependency version to ">= 0.1.0"
  charts/apiserver-webhook/requirements.yaml
  charts/apiserver/requirements.yaml
  charts/controller_manager/requirements.yaml
  charts/coredns/requirements.yaml
  charts/etcd/requirements.yaml
  charts/haproxy/requirements.yaml
  charts/promenade/requirements.yaml
  charts/proxy/requirements.yaml
  charts/scheduler/requirements.yaml
Due: airship-promenade-lint-chart

Remove /hyperkube prefix
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

kube-apiserver: Allow probe customization
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

kube-apiserver: use HTTP probes instead of exec
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Update pip package versions in preparation of pip 20.3
  doc/requirements.txt
  promenade/config.py
  requirements-direct.txt
  requirements-frozen.txt
  test-requirements.txt
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove additional /hyperkube reference
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift HTK for etcd backup/restore framework
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update setuptools to resolve dependency conflict
  requirements-direct.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

kube-apiserver: disable http2
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Uplift HTK for etcd backup/restore delete archive capability
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Makefile; clean should include .tox
  Makefile
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Ignore upstream chart repos when installing Helm
  tools/helm_tk.sh
Due: none

Use HostToContainer mountPropagation
  charts/apiserver/Chart.yaml
  charts/apiserver/templates/daemonset.yaml
  charts/controller_manager/Chart.yaml
  charts/controller_manager/templates/daemonset.yaml
  charts/haproxy/Chart.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/scheduler/Chart.yaml
  charts/scheduler/templates/sched-anchor.yaml
Due: airship-promenade-lint-chart

Update to container image repo k8s.gcr.io
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/promenade/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  doc/source/configuration/kubelet.rst
  examples/basic/Genesis.yaml
  examples/basic/Kubelet.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/Kubelet.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/Kubelet.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/Kubelet.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/Kubelet.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/g2/lib/config.sh
  tools/gate/config-templates/site-config.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
  tools/simple-deployment.sh
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix ubuntu_xenial build (use pip <21.0)
  images/promenade/Dockerfile.ubuntu_xenial
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Avoid calico-etcd crashloop
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
Due: airship-promenade-lint-chart

Uplift etcd to v3.4.13
  charts/etcd/values.yaml
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update cleanup.sh developer script
  tools/cleanup.sh
Due: none

Deploy with standalone kubernetes images
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tools/registry/IMAGES
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift Kubernetes to v1.19.7
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/Kubelet.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/Kubelet.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/Kubelet.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove hyperkube extraction functionality
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
  doc/source/distribution.rst
  doc/source/index.rst
  promenade/builder.py
  promenade/cli.py
  promenade/config.py
  promenade/control/join_scripts.py
  promenade/schemas/HostSystem.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tools/g2/lib/config.sh
  tools/g2/stages/build-scripts.sh
  tools/simple-deployment.sh
  tools/zuul/playbooks/deploy-promenade.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Allow url as source of file to be deployed to host
  doc/source/configuration/host-system.rst
  promenade/builder.py
  promenade/schemas/Genesis.yaml
  promenade/schemas/HostSystem.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove remaining hyperkube references
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  promenade/templates/include/up.sh
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/g2/stages/genesis.sh
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/config-templates/genesis-config.yaml
  tools/gate/config-templates/site-config.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Disable kubernetes-etcd anchor cleanup in gates
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add configmap-etc-hash to apiserver anchor
  charts/apiserver/templates/daemonset.yaml
Due: airship-promenade-lint-chart
