Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

airship-promenade-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/zuul/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/zuul/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/zuul/playbooks/unit-py35.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/zuul/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-doc-build:
  description: 'Locally build the documentation to check for errors
  
    '
  run: tools/zuul/playbooks/doc-build.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-docker-build-gate:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-docker-build-post:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: ubuntu-xenial
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

apiserver(-webhook): Allow volume overrides
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Remove TaintBasedEvictions feature gate references
  examples/basic/Kubelet.yaml
  examples/containerd/Kubelet.yaml
  examples/gate/Kubelet.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Stop using kube-apiserver insecure-port
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

apiserver(-webhook): Allow fileless kube-apiserver command_options
  charts/apiserver-webhook/templates/config-dynamic-config.yaml
  charts/apiserver/templates/configmap-etc.yaml
Due: airship-promenade-lint-chart

Gate stability improvements
  images/promenade/Dockerfile.ubuntu_xenial
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add "labels" to apiserver-webhook deployment
  charts/apiserver-webhook/templates/deployment.yaml
Due: airship-promenade-lint-chart

Add required apiserver serviceaccount flags
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/templates/secret-keys.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  promenade/templates/include/genesis-apiserver.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/pki/service-account.key
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: Migrate Corefile to version 1.6.4
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

Kubernetes: Uplift to v1.20.5
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: Uplift to 1.7.0
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update airship images to bionic versions
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/gate/Genesis.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add hash annotation to apiserver-webhook deployment
  charts/apiserver-webhook/templates/deployment.yaml
Due: airship-promenade-lint-chart

Add configMap to proxy chart
  charts/proxy/templates/configmap-etc.yaml
  charts/proxy/templates/daemonset.yaml
  charts/proxy/templates/etc/_proxy-config.tpl
  charts/proxy/values.yaml
Due: airship-promenade-lint-chart

Update Proxy chart
  charts/proxy/templates/daemonset.yaml
  charts/proxy/templates/etc/_proxy-config.tpl
Due: airship-promenade-lint-chart

Fix deprecated warning in Promenade apiserver chart
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  examples/containerd/Genesis.yaml
  examples/gate/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix deprecated warning in Promenade controller-manager chart
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-controller-manager.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Kubelet warning fix
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift HTK to latest
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift tiller and helm install script to v2.17.0
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix kube-apiserver anchor script rendering
  charts/apiserver/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

Adjust kube-apiserver anchor readiness
  charts/apiserver/templates/bin/_anchor.tpl
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
Due: airship-promenade-lint-chart

Ensure /etc/etcd and /var/log/kubernetes exist
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use jsonschema 3.2.0
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update HTK commit ID for etcd backup/restore framework
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix chart yaml indentation issue
  charts/apiserver-webhook/templates/deployment.yaml
Due: airship-promenade-lint-chart

Use helm 3 in chart build
  .dockerignore
  .gitignore
  Makefile
  charts/apiserver-webhook/requirements.yaml
  charts/apiserver/requirements.yaml
  charts/controller_manager/requirements.yaml
  charts/coredns/requirements.yaml
  charts/deps/.gitkeep
  charts/etcd/requirements.yaml
  charts/haproxy/requirements.yaml
  charts/promenade/requirements.yaml
  charts/proxy/requirements.yaml
  charts/scheduler/requirements.yaml
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

charts: move to helm 3 preferred apis
  charts/coredns/templates/pod-test.yaml
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/promenade/templates/tests/test-promenade-api.yaml
Due: airship-promenade-lint-chart

Move to helm 3 CLI in cluster
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove Tiller
  doc/source/configuration/genesis.rst
  doc/source/design.rst
  doc/source/troubleshooting/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/genesis-config.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Helm 3: Fix Job labels
  charts/apiserver/templates/job-key-rotate.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart

Remove log-test pod if validation succeeds
  promenade/templates/include/utils.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update tolerations and priority classes
  charts/apiserver/templates/daemonset.yaml
  charts/controller_manager/templates/daemonset.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/proxy/templates/daemonset.yaml
  charts/scheduler/templates/sched-anchor.yaml
  promenade/templates/roles/common/etc/kubernetes/manifests/haproxy.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-controller-manager.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update HTK stable commit (Ingress)
  tools/helm_tk.sh
Due: none

Update charts to use stable Kubernetes APIs
  charts/apiserver/templates/job-key-rotate.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
Due: airship-promenade-lint-chart

Promenade Enhancement
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift HTK stable commit (db-backup-restore)
  charts/etcd/templates/bin/_etcdbackup.tpl
  tools/helm_tk.sh
Due: airship-promenade-lint-chart

Enhance ETCD backup
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/secret-backup-restore.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Use same helm wrapper script for all nodes
  promenade/templates/roles/common/usr/local/bin/helm
  promenade/templates/roles/join/usr/local/bin/helm
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

fix tox errors, fix zuul
  doc/requirements.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Removing set -x from function
  charts/etcd/templates/bin/_etcdbackup.tpl
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
