Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

airship-promenade-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/zuul/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/zuul/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/zuul/playbooks/unit-py35.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/zuul/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-doc-build:
  description: 'Locally build the documentation to check for errors
  
    '
  run: tools/zuul/playbooks/doc-build.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-docker-build-gate:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-docker-build-post:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: ubuntu-xenial
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

Add configuration for tiller storage
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/gate/Genesis.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  tests/unit/builder_data/simple/Genesis.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(haproxy) Fix syntax error in haproxy anchor
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
Due: airship-promenade-lint-chart

fix haproxy anchor pre-stop not working
  charts/haproxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

(promenade) Support genesis on 18.04
  .zuul.yaml
  promenade/encryption_method.py
  promenade/templates/include/up.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift etcd to 3.3.12
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS probe refactoring and version uplift
  Dockerfile
  charts/coredns/templates/bin/_probe.py.tpl
  charts/coredns/templates/bin/_probe.sh.tpl
  charts/coredns/templates/configmap-bin.yaml
  charts/coredns/templates/configmap-list.yaml
  charts/coredns/templates/deployment.yaml
  charts/coredns/templates/etc/_list.tpl
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

tools: Move helm-toolkit pin to latest commit
  tools/helm_tk.sh
Due: none

Chart changes to support k8s v1.16
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  promenade/config.py
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Migrate config to KubeletConfiguration
  doc/source/configuration/kubelet.rst
  examples/basic/Kubelet.yaml
  examples/complete/Kubelet.yaml
  examples/gate/Kubelet.yaml
  promenade/schemas/Kubelet.yaml
  promenade/templates/roles/common/etc/kubernetes/kubelet/config.yaml
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Kubelet.yaml
  tools/gate/config-templates/site-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Dynamic kubelet config support
  promenade/templates/roles/common/etc/kubernetes/kubelet/dynamic-config/.gitignore
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Scheduler: Add pod/container security context
  charts/scheduler/templates/sched-anchor.yaml
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

(haproxy) Fix anchor.sh template
  charts/haproxy/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

Proxy: Add pod/container security context
  charts/proxy/templates/daemonset.yaml
  charts/proxy/values.yaml
Due: airship-promenade-lint-chart

Apiserver: Add pod/container security context
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Fix: anchor pre-stop failures
  charts/apiserver/templates/daemonset.yaml
  charts/controller_manager/templates/daemonset.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/scheduler/templates/sched-anchor.yaml
Due: airship-promenade-lint-chart

Fix: apiserver-webhook chart apiVersion (typo)
  charts/apiserver-webhook/Chart.yaml
Due: airship-promenade-lint-chart

Implement Security Context for Haproxy
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

Add -e to pre_stop hooks
  charts/apiserver/templates/bin/_pre_stop.tpl
  charts/controller_manager/templates/bin/_pre_stop.tpl
  charts/etcd/templates/bin/_pre_stop.tpl
  charts/haproxy/templates/bin/_pre_stop.tpl
  charts/scheduler/templates/bin/_pre_stop.tpl
Due: airship-promenade-lint-chart

Allow to configure service network policy for apiserver-webhook
  charts/apiserver-webhook/templates/network_policy.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

Upgrade pause version for k8s 1.16
  doc/source/configuration/kubelet.rst
  examples/basic/Kubelet.yaml
  examples/complete/Kubelet.yaml
  examples/gate/Kubelet.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Kubelet.yaml
  tools/gate/config-templates/site-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Upgrade coredns version for k8s 1.16
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add debug reporting to genesis gate
  .zuul.yaml
  examples/gate/HostSystem.yaml
  tools/zuul/playbooks/debug-report.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

containerd support
  .zuul.yaml
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/Docker.yaml
  examples/containerd/EncryptionPolicy.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/Kubelet.yaml
  examples/containerd/KubernetesNetwork.yaml
  examples/containerd/LayeringPolicy.yaml
  examples/containerd/PKICatalog-addition.yaml
  examples/containerd/PKICatalog.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/up.sh
  tools/g2/lib/virsh.sh
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix py35 gate
  tests/unit/builder_data/simple/HostSystem.yaml
Due: none

Uplift etcd to v3.4.2
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/etcd/values.yaml
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update coredns and etcd in containerd gate
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  promenade/templates/roles/common/etc/systemd/system/containerd.service.d/http-proxy.conf
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix coredns checks
  charts/coredns/templates/bin/_probe.py.tpl
  charts/coredns/templates/configmap-list.yaml
  charts/coredns/templates/etc/_list.tpl
  charts/coredns/templates/pod-test.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Upgrade Tiller version for k8s 1.16
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Disable systemd-resolved
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Upgrade Hyperkube version for k8s 1.16
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/promenade/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/g2/lib/config.sh
  tools/gate/default-config-env
  tools/registry/IMAGES
  tools/simple-deployment.sh
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Probes: Ensure newline between key and cert in probe concat
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
Due: airship-promenade-lint-chart

Ubuntu 18.04, configure chrony
  doc/source/configuration/host-system.rst
  doc/source/configuration/kubernetes-network.rst
  examples/basic/HostSystem.yaml
  examples/basic/KubernetesNetwork.yaml
  examples/complete/HostSystem.yaml
  examples/complete/KubernetesNetwork.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/KubernetesNetwork.yaml
  examples/gate/HostSystem.yaml
  examples/gate/KubernetesNetwork.yaml
  promenade/schemas/KubernetesNetwork.yaml
  promenade/templates/roles/common/etc/chrony/chrony.conf
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/KubernetesNetwork.yaml
  tools/gate/config-templates/site-config.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add a lightweight multinode gate.sh config
  tools/g2/manifests/multinode.json
Due: none

promenade/HostSystem/v1 schema cleanup
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

promenade: convert configmap-etc to secret
  charts/promenade/templates/configmap-etc.yaml
  charts/promenade/templates/deployment-api.yaml
Due: airship-promenade-lint-chart

Fix: genesis.sh and join.sh rendering fix
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[apt-retry] - Added logic to retry apt update
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove kubelet restart from join.sh
  promenade/templates/scripts/join.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix systemd-resolved race conditions
  promenade/templates/include/up.sh
  promenade/templates/roles/common/etc/resolv.conf
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
