Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Prevent creation of kubernetes service endpoint by bootstrap apiserver
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[genesis] avoid restarting kubelet in cleanup
  promenade/templates/include/cleanup.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adding apparmor annotation kube-proxy
  charts/proxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Add -u to anchor scripts
  charts/apiserver/templates/bin/_anchor.tpl
  charts/controller_manager/templates/bin/_anchor.tpl
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/haproxy/templates/bin/_anchor.tpl
  charts/scheduler/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

add the ability to mask systemd units
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Promenade: Add Docker default AppArmor profile to controller_manager anchor
  .zuul.yaml
  charts/controller_manager/templates/daemonset.yaml
  charts/controller_manager/values.yaml
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/deploy-promenade.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add Docker default AppArmor profile to coredns
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

Add Docker default AppArmor profile to apiserver
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Add apparmor profile to scheduler chart
  charts/scheduler/templates/sched-anchor.yaml
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

Add apparmor profile to promenade charts
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

etcd chart: additional env vars for etcd pods
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Add Docker default AppArmor profile to promenade
  .zuul.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

apiserver-webhook: Add container security context
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

haproxy: remove echo from anchor script
  charts/haproxy/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

[proxy] robustness tweak for liveness probe
  charts/proxy/templates/bin/_liveness-probe.sh.tpl
Due: airship-promenade-lint-chart

etcd chart: anchor pre_stop remove bashism
  charts/etcd/templates/bin/_pre_stop.tpl
Due: airship-promenade-lint-chart

Add apparmor profile to etcd chart
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Add resource requests/limits to HAProxy container
  charts/haproxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Adjust plugin cri parameters
  Makefile
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/config-templates/site-config.yaml
  tools/lint_gate.sh
  tox.ini
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Coredns: Add apparmor profile to coredns-health container
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

apiserver-webhook: Add Apparmor runtime default to apiserver-webhook
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

[uwsgi] remove extraneous argument
  entrypoint.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Enable NTP protocol access
  promenade/templates/roles/common/etc/chrony/chrony.conf
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

promenade: Add default apparmor profile to init containers
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/values.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Promenade: Add apparmor profile to promenade charts
  charts/coredns/templates/pod-test.yaml
  charts/coredns/values.yaml
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/etcd/values.yaml
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/haproxy/values.yaml
  charts/promenade/templates/tests/test-promenade-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Upgrade Hyperkube version from 1.16.2 to 1.17.3
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/haproxy/values.yaml
  charts/promenade/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/g2/lib/config.sh
  tools/gate/default-config-env
  tools/registry/IMAGES
  tools/simple-deployment.sh
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add configmap-hash annotations for etcd
  charts/etcd/templates/daemonset-anchor.yaml
Due: airship-promenade-lint-chart

kube-proxy: use HTTP probes instead of exec
  charts/proxy/templates/bin/_liveness-probe.sh.tpl
  charts/proxy/templates/bin/_readiness-probe.sh.tpl
  charts/proxy/templates/configmap-bin.yaml
  charts/proxy/templates/daemonset.yaml
  charts/proxy/values.yaml
Due: airship-promenade-lint-chart

Uplift Promenade image to address CVEs
  .zuul.yaml
  Makefile
  images/promenade/Dockerfile.ubuntu_bionic
  images/promenade/Dockerfile.ubuntu_xenial
  requirements-frozen.txt
  tools/dev-build.sh
  tools/g2/lib/config.sh
  tools/g2/stages/build-image.sh
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/deploy-promenade.yaml
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add apparmor profile to apiserver and etcd jobs
  charts/apiserver/templates/job-key-rotate.yaml
  charts/apiserver/values.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Uplift python deps to match deckhand
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Improve HostSystem.yaml parsability
  promenade/schemas/HostSystem.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix image build checks missing setuptools
  tools/zuul/playbooks/docker-image-build.yaml
Due: none

[haproxy] anchor; make sure configuration is flushed before rename
  charts/haproxy/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

Haproxy: update haproxy version to 1.8.25
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

Add pod/container security context to promenade charts
  charts/coredns/templates/pod-test.yaml
  charts/coredns/values.yaml
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/etcd/values.yaml
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

ETCD remote backup enhancements
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/bin/_etcdrestore.tpl
  charts/etcd/templates/configmap-bin.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/job-ks-user.yaml
  charts/etcd/templates/secret-backup-restore.yaml
  charts/etcd/templates/secret-rgw.yaml
  charts/etcd/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Implement helm-toolkit snippet to apiserver and webhook pods/containers
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/templates/job-key-rotate.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart
