Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Make static manifest cleanup configurable
  charts/apiserver/templates/bin/_anchor.tpl
  charts/apiserver/values.yaml
  charts/controller_manager/templates/bin/_anchor.tpl
  charts/controller_manager/values.yaml
  charts/etcd/templates/bin/_pre_stop.tpl
  charts/etcd/values.yaml
  charts/scheduler/templates/bin/_anchor.tpl
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

Haproxy: Add pod/container security context
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

ETCD: Add pod/container security context
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Coredns: Add pod/container security context
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

Add node selector to test pods
  charts/coredns/templates/pod-test.yaml
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/haproxy/values.yaml
  charts/promenade/templates/tests/test-promenade-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

(fix) add node selector to apiserver-webhook
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

Add release uuid annotation to POD spec
  charts/controller_manager/templates/daemonset.yaml
  charts/coredns/templates/deployment.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/proxy/templates/daemonset.yaml
  charts/scheduler/templates/sched-anchor.yaml
Due: airship-promenade-lint-chart

Allow etcd anchor to recover from bad state
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

(fix) haproxy anchor runs as root
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

hyperkube image in promenade init
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Uplift deckhand dependency
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make aux etcd more conservative
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/gate/Genesis.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

New CLI option to extract hyperkube
  doc/source/distribution.rst
  doc/source/index.rst
  promenade/builder.py
  promenade/cli.py
  promenade/config.py
  promenade/control/join_scripts.py
  tools/g2/lib/config.sh
  tools/g2/stages/build-scripts.sh
  tools/simple-deployment.sh
  tools/zuul/playbooks/deploy-promenade.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[etcd] improve etcd resiliency
  promenade/templates/include/genesis-etcd/server-container.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fixes to etcd backup script
  charts/etcd/templates/bin/_etcdbackup.tpl
Due: airship-promenade-lint-chart

(fix) make debug-report compat w/ kubectl
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update packages related to requests
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix potential port conflict
  doc/source/configuration/genesis.rst
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add facility to configure log levels in promenade
  .zuul.yaml
  charts/promenade/values.yaml
  doc/requirements.txt
  promenade/logging.py
  promenade/options.py
  promenade/promenade.py
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add shell autocompletion for kubectl
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Enable probes config for etcd
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
  examples/gate/armada-resources.yaml
  tools/helm_tk.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

log_level fix for CLI
  promenade/cli.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add facility to configure log levels in kubernetes-components
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  charts/controller_manager/values.yaml
  charts/proxy/templates/daemonset.yaml
  charts/proxy/values.yaml
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
  charts/scheduler/values.yaml
Due: airship-promenade-lint-chart

(charts) Webhook dynamic config
  charts/apiserver-webhook/templates/config-dynamic-config.yaml
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Fixes/updates for webhook-apiserver
  Dockerfile
  charts/apiserver-webhook/templates/configmap-etc.yaml
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Enabling debug-report.sh to configure pods log duration.
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Configurable genesis package install timeout
  promenade/templates/include/up.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Pull requirements-direct into requirements
  requirements-direct.txt
  requirements.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix armada and deckhand image tags
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/gate/Genesis.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix: Promenade Exceptions docs rendering on RTD
  .readthedocs.yaml
  .zuul.yaml
  Dockerfile
  Makefile
  doc/source/exceptions.rst
  tools/zuul/playbooks/doc-build.yaml
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(etcd) Support dash shell
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/etcd/values.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix outdated external references
  Dockerfile
  doc/source/configuration/index.rst
  doc/source/design.rst
  doc/source/developer-onboarding.rst
  doc/source/getting-started.rst
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  examples/gate/armada-resources.yaml
  promenade/utils/validation_message.py
  setup.cfg
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add facility to configure log levels in kubernetes-etcd
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Armada metric output for genesis
  doc/source/configuration/genesis.rst
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Run haproxy pod with the nobody user (65534)
  charts/haproxy/templates/bin/_anchor.tpl
  charts/haproxy/templates/bin/_perms_update.tpl
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  charts/haproxy/values.yaml
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  examples/gate/Genesis.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/common/etc/kubernetes/manifests/haproxy.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(haproxy) Additional config safeguards
  charts/haproxy/templates/bin/_anchor.tpl
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
Due: airship-promenade-lint-chart

Extended cleanup script
  tools/cleanup.sh
Due: none

Upgrade mismatch dependencies for pegleg
  .gitignore
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Allow to configure service network policy
  charts/promenade/templates/network_policy.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

(haproxy) String validation for haproxy config
  charts/haproxy/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart
