Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

airship-promenade-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/zuul/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/zuul/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/zuul/playbooks/unit-py35.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/zuul/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-doc-build:
  description: 'Locally build the documentation to check for errors
  
    '
  run: tools/zuul/playbooks/doc-build.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-docker-build-gate:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-docker-build-post:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: ubuntu-xenial
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

Supporting setting domain on nodes
  promenade/config.py
  promenade/control/join_scripts.py
  promenade/schemas/Genesis.yaml
  promenade/schemas/KubernetesNode.yaml
  promenade/templates/roles/common/etc/hosts
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Handle non-true defaults
  promenade/config.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Disable anonymous auth for Kubelet
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use separate CA for kubelet authorization
  charts/apiserver/templates/configmap-certs.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/templates/secret-apiserver.yaml
  charts/apiserver/values.yaml
  examples/basic/PKICatalog.yaml
  examples/basic/armada-resources.yaml
  examples/complete/PKICatalog.yaml
  promenade/templates/roles/common/etc/kubernetes/pki/kubelet-client-ca.pem
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
  promenade/templates/roles/genesis/etc/genesis/apiserver/pki/kubelet-client-ca.pem
  promenade/templates/roles/genesis/etc/genesis/apiserver/pki/kubelet-client-key.pem
  promenade/templates/roles/genesis/etc/genesis/apiserver/pki/kubelet-client.pem
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Enable gate shell linting
  tools/g2/lib/kube.sh
  tools/zuul/playbooks/make-tests.yaml
Due: none

Update tiller version to 2.10.0
  Makefile
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[458884] Refactor validation
  promenade/config.py
  promenade/control/validatedesign.py
  promenade/utils/validation_message.py
  promenade/validation.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make K8S proxy health check more aggressive
  charts/proxy/templates/bin/_liveness-probe.sh.tpl
  charts/proxy/templates/bin/_readiness-probe.sh.tpl
  charts/proxy/templates/configmap-bin.yaml
  charts/proxy/templates/daemonset.yaml
  charts/proxy/values.yaml
Due: airship-promenade-lint-chart

Add domain field to resolv.conf
  promenade/templates/roles/common/etc/resolv.conf
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix: Avoid etcd bootstrap race
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
Due: airship-promenade-lint-chart

Fix airship-promenade-unit-py35 gate job
  .zuul.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update Helm to v2.10.0
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  tests/unit/api/test_validatedesign.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix: re-add incorrectly removed format test
  promenade/builder.py
  promenade/config.py
  promenade/control/middleware.py
  promenade/kubeclient.py
  promenade/pki.py
  promenade/renderer.py
  test-requirements.txt
  tests/unit/api/test_kubeclient.py
  tests/unit/api/test_validatedesign.py
  tools/image_tags.py
  tox.ini
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix: validate_all needs config object, not docs
  promenade/config.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Implement encryption for genesis/join scripts
  Makefile
  doc/source/configuration/encryption-policy.yaml
  doc/source/configuration/index.rst
  examples/basic/EncryptionPolicy.yaml
  promenade/builder.py
  promenade/encryption_method.py
  promenade/exceptions.py
  promenade/generator.py
  promenade/pki.py
  promenade/schemas/EncryptionPolicy.yaml
  promenade/templates/include/up.sh
  promenade/validation.py
  tests/unit/builder_data/simple/Docker.yaml
  tests/unit/builder_data/simple/EncryptionPolicy.yaml
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/Kubelet.yaml
  tests/unit/builder_data/simple/KubernetesNetwork.yaml
  tests/unit/builder_data/simple/KubernetesNode.yaml
  tests/unit/builder_data/simple/LayeringPolicy.yaml
  tests/unit/builder_data/simple/PKICatalog.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tests/unit/test_builder.py
  tools/g2/lib/config.sh
  tools/g2/stages/build-scripts.sh
  tools/g2/stages/genesis.sh
  tools/install-external-deps.sh
  tools/lint_gate.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

APISERVER for webhook
  charts/apiserver-webhook/Chart.yaml
  charts/apiserver-webhook/requirements.yaml
  charts/apiserver-webhook/templates/bin/_webhook_start.sh.tpl
  charts/apiserver-webhook/templates/configmap-bin.yaml
  charts/apiserver-webhook/templates/configmap-certs.yaml
  charts/apiserver-webhook/templates/configmap-etc.yaml
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/templates/etc/_kubeconfig.yaml.tpl
  charts/apiserver-webhook/templates/etc/_webhook.kubeconfig.tpl
  charts/apiserver-webhook/templates/ingress-api.yaml
  charts/apiserver-webhook/templates/secret-apiserver.yaml
  charts/apiserver-webhook/templates/secret-ingress-tls.yaml
  charts/apiserver-webhook/templates/secret-keystone.yaml
  charts/apiserver-webhook/templates/secret-webhook.yaml
  charts/apiserver-webhook/templates/service-apiserver-ingress.yaml
  charts/apiserver-webhook/templates/service.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

Fix: git commit id labels on images
  Dockerfile
  Makefile
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix docs
  .gitignore
  doc/source/api.rst
  doc/source/design.rst
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift Deckhand version
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[gate] Mask AVX2 to prevent 16.04 on 16.04 VMs boot crashes
  tools/g2/lib/virsh.sh
Due: none

fix: Promenade exceptions documentation incorrectly rendering
  doc/source/exceptions.rst
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make haproxy-anchor cleanup more cautious
  charts/haproxy/templates/bin/_anchor.tpl
Due: airship-promenade-lint-chart

Fix: various documentation and URL fixes
  charts/promenade/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/index.rst
  doc/source/design.rst
  doc/source/getting-started.rst
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  promenade/utils/success_message.py
  promenade/utils/validation_message.py
  setup.py
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Improve security of default and example configurations
  charts/controller_manager/values.yaml
  examples/basic/Genesis.yaml
  examples/basic/Kubelet.yaml
  examples/basic/armada-resources.yaml
  promenade/templates/include/up.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make haproxy-anchor pod critical
  charts/haproxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Pin calico version
  examples/basic/armada-resources.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Re-align Kubernetes proxy chart with upstream DS
  charts/proxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Treat warnings as errors in docs and fix warnings
  doc/source/configuration/encryption-policy.rst
  test-requirements.txt
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: add configurable replicas
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

Make haproxy-anchor cleanup optional
  charts/haproxy/templates/bin/_anchor.tpl
  charts/haproxy/values.yaml
Due: airship-promenade-lint-chart

Add /opt resources to cleanup.sh
  tools/cleanup.sh
Due: none

Fix: Workaround kube-proxy keeping stale IPs
  charts/proxy/templates/bin/_liveness-probe.sh.tpl
Due: airship-promenade-lint-chart

Make kube-proxy liveness probe more cautious
  charts/proxy/templates/bin/_liveness-probe.sh.tpl
Due: airship-promenade-lint-chart

Add release uuid to pods and rc objects (prom)
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/controller_manager/templates/daemonset.yaml
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
  charts/coredns/templates/deployment.yaml
  charts/coredns/templates/pod-test.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/templates/tests/test-promenade-api.yaml
  charts/proxy/templates/daemonset.yaml
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
  charts/scheduler/templates/sched-anchor.yaml
Due: airship-promenade-lint-chart

Secure host file permissions
  charts/apiserver/templates/bin/_anchor.tpl
  charts/controller_manager/templates/bin/_anchor.tpl
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/haproxy/templates/bin/_anchor.tpl
  charts/scheduler/templates/bin/_anchor.tpl
  promenade/templates/include/up.sh
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Uplift deckhand dependency
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix: adding back the possibility to add arbitrary labels
  Makefile
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Enable using PBR for package library
  Dockerfile
  setup.cfg
  setup.py
  test-requirements.txt
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add EventRateLimit admission controller
  charts/apiserver/templates/configmap-etc.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/values.yaml
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/acconfig.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/eventconfig.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Share process namespaces with exec probes
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/coredns/templates/deployment.yaml
  charts/proxy/templates/daemonset.yaml
  examples/basic/Genesis.yaml
  examples/basic/Kubelet.yaml
  examples/basic/PKICatalog.yaml
  examples/basic/armada-resources.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
