Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

[trivial] Rename tox jobs for zuul
  Makefile
  tools/zuul/playbooks/zuul-linter.yaml
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(zuul) Update docker publish to quay.io
  .zuul.yaml
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Expand CoreDNS liveness/readiness probes
  charts/coredns/templates/bin/_probe.sh.tpl
  charts/coredns/templates/configmap-bin.yaml
  charts/coredns/templates/deployment.yaml
Due: airship-promenade-lint-chart

Fix incorrect use of wget in CoreDNS health
  charts/coredns/templates/bin/_probe.sh.tpl
Due: airship-promenade-lint-chart

Use Kubernetes lease endpoint reconciler
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  tools/g2/lib/validate.sh
  tools/g2/manifests/one.json
  tools/g2/manifests/resiliency.json
  tools/g2/stages/check-etcd-health.sh
  tools/g2/stages/join-nodes.sh
  tools/g2/stages/power-down-node.sh
  tools/g2/stages/power-up-node.sh
  tools/g2/stages/teardown-nodes.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Only prune docker when specified
  tools/cleanup.sh
Due: none

Unifying proxy variables for tox
  doc/source/getting-started.rst
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add local file cache for Builder tarball fetch
  charts/promenade/templates/deployment-api.yaml
  promenade/builder.py
  promenade/templates/include/utils.sh
  requirements-direct.txt
  requirements-frozen.txt
  tools/g2/manifests/resiliency.json
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update validatedesign message
  promenade/control/validatedesign.py
  promenade/utils/__init__.py
  promenade/utils/validation_message.py
  promenade/validation.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add retry to fetching tarballs
  promenade/builder.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add Additional Liveness Probes for apiserver
  charts/apiserver/templates/etc/_kubeconfig.yaml.tpl
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/templates/rbac.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Update examples to use new image/repo locations
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  tools/dev-build.sh
  tools/dev/server.sh
  tools/g2/lib/config.sh
  tools/gate/default-config-env
  tools/registry/IMAGES
  tools/simple-deployment.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Make hard-coded busybox image configurable
  examples/basic/HostSystem.yaml
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/utils.sh
  tools/g2/lib/kube.sh
  tools/g2/manifests/resiliency.json
  tools/g2/stages/power-up-node.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add py36 testenv
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Upgrade the version of kubernetes-entrypoint for UCP helm charts
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  examples/complete/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add test pods labels.
  charts/haproxy/templates/tests/test-haproxy-health.yaml
Due: airship-promenade-lint-chart

(fix) Update deckhand dependency
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fix broken validatedesign endpoint
  promenade/config.py
  promenade/control/validatedesign.py
  promenade/utils/validation_message.py
  promenade/validation.py
  tests/unit/api/test_validatedesign.py
  tox.ini
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Tolerate unready endpoints for apiserver service
  charts/apiserver/templates/service.yaml
Due: airship-promenade-lint-chart

Enable etcd helm test to run on non-ready nodes
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/scheduler/values.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove substitution_sources from Deckhand layering
  promenade/config.py
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add missing storagePolicy entries
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/PKICatalog-addition.yaml
  examples/basic/PKICatalog.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Docker.yaml
  examples/complete/Kubelet.yaml
  examples/complete/KubernetesNetwork.yaml
  examples/complete/PKICatalog.yaml
  examples/complete/armada-resources.yaml
  tools/gate/config-templates/PKICatalog.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Remove unused image references
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/promenade/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add liveness probe to kube-proxy
  charts/proxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Update tiller to be compatible with latest Armada
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update Dockerfile to allow override of FROM variable
  Dockerfile
  Makefile
  tools/zuul/playbooks/docker-image-build.yaml
  tools/zuul/playbooks/files/docker-systemd.conf
  tools/zuul/playbooks/vars.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use Docker-CE for building images in the resil gate
  tools/setup_gate.sh
Due: none

Update the README.md File
  README.md
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Added storagePolicy for HAProxy
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: none

Remove tests from images
  .dockerignore
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Allow multiple join IPs
  promenade/config.py
  promenade/control/join_scripts.py
  promenade/schemas/KubernetesNode.yaml
  promenade/templates/roles/common/etc/promenade/haproxy/haproxy.cfg
  tools/gate/config-templates/joining-host-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update to Helm 2.9.1
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  tests/unit/api/test_validatedesign.py
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Adding node-labels api
  .gitignore
  doc/source/api.rst
  doc/source/exceptions.rst
  promenade/control/api.py
  promenade/control/node_labels.py
  promenade/exceptions.py
  promenade/kubeclient.py
  promenade/policy.py
  promenade/utils/message.py
  promenade/utils/success_message.py
  promenade/utils/validation_message.py
  tests/unit/api/test_kubeclient.py
  tests/unit/api/test_update_labels.py
  tools/g2/lib/promenade.sh
  tools/g2/stages/move-master.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Opening apiserver Via Ingress
  charts/apiserver/templates/ingress-api.yaml
  charts/apiserver/templates/secret-ingress-tls.yaml
  charts/apiserver/templates/service-apiserver-ingress.yaml
  charts/apiserver/values.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
Due: airship-promenade-lint-chart

Consolidate pep8/bandit zuul gating
  .zuul.yaml
  requirements-frozen.txt
  test-requirements.txt
  tools/zuul/playbooks/pep8-linter.yaml
  tools/zuul/playbooks/security-bandit.yaml
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add readOnlyRootFilesystem to HAProxy and CoreDNS.
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
Due: airship-promenade-lint-chart

Remove obsolete calico chart
  charts/calico/.helmignore
  charts/calico/Chart.yaml
  charts/calico/requirements.yaml
  charts/calico/templates/configmap.yaml
  charts/calico/templates/daemonset-node.yaml
  charts/calico/templates/deployment-policy-controller.yaml
  charts/calico/templates/rbac.yaml
  charts/calico/templates/secret.yaml
  charts/calico/values.yaml
Due: airship-promenade-lint-chart

Update Keystone API ports in Promenade chart
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Remove version pinning from examples
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  tools/gate/config-templates/site-config.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add venv tox environment
  tox.ini
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post
