Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

airship-promenade-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/zuul/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/zuul/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/zuul/playbooks/unit-py35.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/zuul/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-doc-build:
  description: 'Locally build the documentation to check for errors
  
    '
  run: tools/zuul/playbooks/doc-build.yaml
  timeout: 300
  nodeset: airship-promenade-single-node

airship-promenade-docker-build-gate:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-docker-build-post:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: ubuntu-xenial
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

Set Least Previliage for .PEM files under directory /etc/genesis.
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

tools: Update Helm to v2.13.1
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/helm_tk.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

proxy ENV variables to promenade container
  tools/simple-deployment.sh
Due: none

(zuul) Fix image publish job
  tools/zuul/playbooks/docker-image-build.yaml
Due: none

Log client-id in UCP API endpoints
  entrypoint.sh
  promenade/config.py
  promenade/control/base.py
  promenade/control/middleware.py
  promenade/control/validatedesign.py
  promenade/design_ref.py
  promenade/logging.py
  requirements-direct.txt
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Promenade: Add security context for pod/container
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/values.yaml
Due: airship-promenade-lint-chart

Revert "remove /etc/genesis post armada bootstrap"
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Allow certgen independent of bundle creation
  tools/simple-deployment.sh
Due: none

[fix] etcd backup to use different filename
  charts/etcd/templates/bin/_etcdbackup.tpl
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Update Deckhand version
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

OpenDev Migration Patch
  .gitreview
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[opendev] Update host and repo for git review
  .gitreview
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

CoreDNS: remove external liveness dependency
  charts/coredns/values.yaml
Due: airship-promenade-lint-chart

Add optional external_ip to promjoin
  examples/basic/Genesis.yaml
  examples/complete/Genesis.yaml
  promenade/control/join_scripts.py
  promenade/schemas/Genesis.yaml
  promenade/schemas/KubernetesNode.yaml
  promenade/templates/roles/common/etc/hosts
  tools/g2/lib/promenade.sh
  tools/gate/config-templates/genesis-config.yaml
  tools/gate/config-templates/joining-host-config.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Use apps/v1 k8s controllers and add labels
  charts/apiserver/templates/daemonset.yaml
  charts/controller_manager/templates/daemonset.yaml
  charts/coredns/templates/deployment.yaml
  charts/coredns/templates/rbac.yaml
  charts/etcd/templates/daemonset-anchor.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/promenade/templates/deployment-api.yaml
  charts/proxy/templates/daemonset.yaml
  charts/proxy/templates/rbac.yaml
  charts/scheduler/templates/sched-anchor.yaml
  tools/g2/sonobuoy.yaml
Due: airship-promenade-lint-chart

apiserver support for etcd encryption
  examples/basic/EncryptionPolicy.yaml
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  promenade/renderer.py
  promenade/schemas/EncryptionPolicy.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/genesis/apiserver/encryption_provider.yaml
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(apiserver) support key rotation
  charts/apiserver/templates/bin/_key_rotate.tpl
  charts/apiserver/templates/configmap-bin.yaml
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
  charts/apiserver/templates/job-key-rotate.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

Docs for utilizing etcd encryption
  doc/source/configuration/encryption-policy.rst
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add Liveness/Readiness probe to calico-etcd.
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Run apiserver-webhook containers with the 'nobody' user
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

Allow non-YAML config file content
  charts/apiserver/templates/configmap-etc.yaml
  charts/apiserver/values.yaml
Due: airship-promenade-lint-chart

(fix) Apiserver key rotate job loop
  charts/apiserver/templates/bin/_key_rotate.tpl
Due: airship-promenade-lint-chart

CI: Add chart build job for latest Helm toolkit
  .zuul.yaml
  tools/zuul/playbooks/helm-linter.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

controller_manager: Add pod/container security context
  charts/controller_manager/templates/daemonset.yaml
  charts/controller_manager/values.yaml
Due: airship-promenade-lint-chart

Add removal of temporary folders
  promenade/templates/roles/common/usr/local/bin/debug-report.sh
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Fixed for hyperkube 1.12
  charts/etcd/templates/daemonset-anchor.yaml
  charts/etcd/templates/tests/test-etcd-health.yaml
  charts/proxy/templates/daemonset.yaml
Due: airship-promenade-lint-chart

Revert "Add Liveness/Readiness probe to calico-etcd."
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

Move to tiller 2.14.0
  charts/apiserver/templates/job-key-rotate.yaml
  charts/haproxy/templates/daemonset.yaml
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

[Fix] Fix etcd backup pod crashlooping
  charts/etcd/templates/bin/_etcdbackup.tpl
Due: airship-promenade-lint-chart

Encrypt git mirroring ssh_key to specific project
  .zuul.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

templates: separate genesis and join sources
  examples/complete/HostSystem.yaml
  promenade/builder.py
  promenade/renderer.py
  promenade/schemas/HostSystem.yaml
  promenade/templates/include/up.sh
  promenade/templates/roles/common/etc/apt/sources.list.d/promenade-sources.list
  promenade/templates/roles/genesis/etc/apt/sources.list.d/promenade-genesis-sources.list
  promenade/templates/roles/join/etc/apt/sources.list.d/promenade-join-sources.list
  tools/cleanup.sh
Due: airship-promenade-lint-pep8, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Add pod anti-affinity to apiserver-webhook
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
Due: airship-promenade-lint-chart

Apply docker-default AppArmorProfile for etcd pod
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: airship-promenade-lint-chart

[FIX] set correct key for Controller manager DS upgrade
  charts/controller_manager/values.yaml
Due: airship-promenade-lint-chart

Change CoreDNS from Deployment to DaemonSet
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
  examples/basic/armada-resources.yaml
  examples/complete/armada-resources.yaml
Due: airship-promenade-lint-chart, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

New source for hyperkube binary definition
  charts/promenade/templates/deployment-api.yaml
  charts/promenade/templates/tests/test-promenade-api.yaml
  charts/promenade/values.yaml
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  promenade/builder.py
  promenade/config.py
  promenade/schemas/HostSystem.yaml
  promenade/tar_bundler.py
  promenade/templates/roles/common/usr/local/bin/kubectl
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/g2/lib/config.sh
  tools/g2/lib/kube.sh
  tools/g2/lib/registry.sh
  tools/g2/stages/build-scripts.sh
  tools/setup_gate.sh
Due: airship-promenade-lint-pep8, airship-promenade-lint-chart, airship-promenade-unit-py35, airship-promenade-security-bandit, airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Update configuration to new schema
  examples/basic/HostSystem.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

(haproxy) Add rationality check to config
  charts/haproxy/templates/bin/_anchor.tpl
  charts/haproxy/templates/etc/_haproxy.yaml.tpl
  tools/helm_install.sh
Due: airship-promenade-lint-chart

Add deploy promenade gate check
  .zuul.yaml
  examples/gate/Docker.yaml
  examples/gate/EncryptionPolicy.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/Kubelet.yaml
  examples/gate/KubernetesNetwork.yaml
  examples/gate/LayeringPolicy.yaml
  examples/gate/PKICatalog.yaml
  examples/gate/armada-resources.yaml
  tools/simple-deployment.sh
  tools/zuul/playbooks/deploy-promenade.yaml
Due: airship-promenade-doc-build, airship-promenade-docker-build-gate, airship-docker-build-post

Path conditions:
  airship-promenade-lint-pep8: any of: ^.*\.py$
  airship-promenade-lint-chart: any of: ^charts/.*$
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-security-bandit: any of: ^.*\.py$
  airship-promenade-doc-build: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
